body{
  font-family: Helvetica;
  text-align: center;
  color: black;
}

.header{
background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
color: white;

}

h1{
font-size: 70px;
font-weight: bold;
}

h2{
  font-size: 32px;
  font-weight: bold;
}
